<nav class="navbar navbar-expand-lg bg-body-tertiary p-2" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">@Localizer[nameof(Strings.SiteName)]</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">@Localizer[nameof(Strings.Home)]</a>
                </li>
                <AuthorizeView>
                    <NotAuthorized>
                        <li class="nav-item">
                            <a class="nav-link" href="/Login">@Localizer[nameof(Strings.Login)]</a>
                        </li>
                    </NotAuthorized>
                    <Authorized>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                                <span>@context?.User?.Identity?.Name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/Profile">
                                        <i class="fa-regular fa-user"></i>
                                        <span>@Localizer[nameof(Strings.Profile)]</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Notifications">
                                        <i class="fa-solid fa-bell-o"></i>
                                        <span>@Localizer[nameof(Strings.Notifications)]</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal">
                                        <i class="fa fa-sign-in-alt"></i>
                                        <span>@Localizer[nameof(Strings.Logout)]</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="@nameof(AppServices.Admin)">
                    <Authorized>
                        <li class="nav-item">
                            <a class="nav-link" href="/Dashboard">@Localizer[nameof(Strings.Dashboard)]</a>
                        </li>
                    </Authorized>
                </AuthorizeView>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        @Localizer[nameof(Strings.SelectLanguage)]
                    </a>
                    <ul class="dropdown-menu p-0 m-0">
                        <CultureComponent />
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {

}
