@page "/UserRoles"
@layout DashLayout
@inherits Bases.SettingBases.UserRoleListBase
@attribute [Authorize(Roles = nameof(AppServices.Admin))]

<PageTitle>@Localizer[nameof(Translate.SiteName)] | @Localizer[nameof(Translate.UserRoleList)]</PageTitle>
<DashCrumbComponent RouteLink="UserRoles" RouteName="@Localizer[nameof(Translate.UserRoleList)]" />

<div class="d-block mt-4">
    <a href="UserRole/Create" class="btn btn-outline-success px-4 mb-3" style="min-width:150px">
        @Localizer[nameof(Translate.CreateNew)]
    </a>
</div>

@if (UserRoleModels != null)
{
    <div class="col-lg-4 col-md-6 col-sm-12">
        <input type="search" class="form-control mb-3" @oninput="OnSearchChanged"
               placeholder="@Localizer[nameof(Translate.Search)]" />
    </div>
    <div class="table-responsive-lg">
        <QuickGrid Items="UserRoleModels.AsQueryable()" Pagination="Pagination" Class="table">
            <TemplateColumn Title="@Localizer[nameof(Translate.UserName)]">
                <div>@context.User?.UserName</div>
            </TemplateColumn>
            <TemplateColumn Title="@Localizer[nameof(Translate.RoleName)]">
                <div>@context.Role?.RoleName</div>
            </TemplateColumn>
            <TemplateColumn>
                <a href="@($"UserRole/Edit/{context.Id}")" title="@Localizer[nameof(Translate.Edit)]">
                    <i class="fa fa-pen text-primary" />
                </a>
            </TemplateColumn>
            <TemplateColumn>
                <a @onclick="async()=> await DeleteConfirmAsync(context.Id)" 
                   title="@Localizer[nameof(Translate.Delete)]">
                    <i class="fa fa-trash-alt fs-6 icon-delete" />
                </a>
            </TemplateColumn>
        </QuickGrid>

        <Paginator State="Pagination">
            <SummaryTemplate>
                @if (AppServices.IsArabic)
                {
                    <span>@UserRoleModels.Count عناصر</span>
                }
                else
                {
                    <span>@UserRoleModels.Count items</span>
                }
            </SummaryTemplate>
        </Paginator>
    </div>

    <MessageComponent ApproveEvent="ApproveResultAsync"
                      Title="@Localizer[nameof(Translate.DeletionAlert)]"
                      Message="@Localizer[nameof(Translate.DeleteMessage)]" />
}
else
{
    if (IsBusy)
    {
        <div class="text-center">
            <div class="spinner-border text-primary mt-5" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    else
    {
        <div class="text-center my-5">
            <h5 class="text-secondary">@Localizer[nameof(Translate.NoData)]</h5>
        </div>
    }
}
